@font-face {
    font-family: DRAGONBBALL;
    src: url(../fonts/dragonball/Saiyan-Sans\ Left\ Oblique.ttf);
    font-weight : normal;
}

*{
    font-family: DRAGONBBALL ;
}

#header, footer{
    width: 100%;
    height: 70px;
    background-color:var(--corPrimaria)
    
    }

