

:root {
 --corPrimaria : rgb(211, 71, 15);
 --corSecudaria : rgb(202, 114, 62);
 --branco: rgb(119, 113, 113); 
 --preto: black; 
}


button{
    width: 100px;
    height: 50px;
    background-color: var(--corPrimaria)
}

h3{
    padding: 10px;
    background-color: rgb(212, 102, 12);
    font-size: medium;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px 0px;
}
.produto img{
    width: 200px;
    padding: 10px;
    display: flex;
    
}

/*catalogo*/
#conteudo{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    
}

#catalogo{
    display: flex;
    align-items: center;
}

#banner{
    width: 85%;
    height: 300px;
    background-image: url("../images/gokuzero.jpg");
    background-size:cover;
    padding:10% ;
    align-items: center;
}